* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3B3486;
    padding: 0px;
    margin: 0px;
}

#btnHeader {
    display: flex;
    justify-content: center;
    background-color: #332941;
    margin-bottom: 50px;
    width: 100%;
}

button {
    margin: 10px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: #F8E559;
    border-style: none;
    border-radius: 5px;
    font-size: 20px;
}


#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 100vh;
    background-color: #332941;
    color: white;
    font-size: 30px;
}

img {
    height: 400px;
    margin-bottom: 50px;
}

header {
    margin-bottom: 40px;
}